body {
    background: url('../images/nebula1.en.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
}

table {
    background-color: rgba(128, 0, 128, 0.8);
    border-collapse: separate;
    border-spacing: 10px;
    padding: 15px;
    width: 80%;
    margin: 20px auto;
    border: 2px solid white;
}

th, td {
    padding: 10px;
    border: 1px solid white;
    text-align: center;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
}
